{% extends 'layout.html' %}

{% block body %}
<h1><i class="fas fa-edit"></i>Trips <small>Welcome, Driver</small></h1>
<hr>

<table class='table table-striped' id='Companies'>
    <tr class='hover'>
        <th>ID</th>
        <th>Commuter</th>
        <th>Amount</th>
        <th>Date</th>
    </tr>
    {% for trns in data %}
    <tr>
        <td>{{trns.id}}</td>
        <td>{{trns.name}}</td>
        <td>{{trns.amount}}</td>
        <td>{{trns.date}}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}


