{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center card bg-purple">
    <h1>About us <small>- a little more about our platform.</small></h1>
</div>
<div class="text-center">
<p><strong>Glaze</strong> allows users to explore, discover and engage with a number of curated  businesses that we believe will make your lives better.</p>

<p>They will either enhance, solve, simplify, equip or suit your lifestyle in such a way that we believe you will be better off knowing them. </p>

<p>So scroll, explore and <strong>GLAZE</strong>.</p>
</div>
    <script>
    window.onload = function() {
        document.getElementById('about').className = 'nav-link active';
    };
</script>
{% endblock %}
